# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment variables
.env
.env.local
.env.production.local
.env.development.local

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.env/
env/
venv/
.venv/
ENV/

# SQLite
db/
*.db
*.db-shm
*.db-wal

# Cursor
.cursor/

# Dev
dev.ipynb
TODO